NOTES
*.pyc
Runs/*
!Runs/newProject
!Runs/.run_template.py
!Runs/example1
Runs/example1/*.png
Runs/example1/*.pdf
Runs/example2/*.dat
Runs/example2/*.log
Runs/example2/*.html
Runs/example1/data/*.dat*
!Runs/example2
Runs/example2/*.png
Runs/example2/*.pdf
Runs/example2/*.dat
Runs/example2/*.log
Runs/example2/*.html
Runs/example2/data/*.dat*

